<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contract Functions</title>

    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home_styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <a href="{{ url_for('homepage') }}" class="brand-logo title-style">Federated Learning</a>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 card-panel hoverable">
        <div class="card-content white-text">
          <span class="card-title">Account Now You Chosen</span>
          <p>{{ account }}</p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div class="col s12">
            <h5>Adding stuff to IPFS</h5>
        </div>
        <form action="{{ url_for('addFileToIPFS') }}" method="POST" enctype='multipart/form-data' class="col s12">
            <div class="row">
                <div class="input-field col s2">
                    <input placeholder="Model Number" name="model_number" id="model_number" type="number"
                           class="validate">
                    <label for="first_name"></label>
                </div>
                <div class="file-field input-field col s7">
                    <div class="btn col s2 blue-grey darken-1">
                        <span>File</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper col s10">
                        <input class="file-path validate"
                               placeholder="Filename"
                               name="filename">
                    </div>
                </div>
                <button name="action" class="waves-effect waves-light btn-large blue-grey darken-1 col s3">Add Transaction
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <form action="{{ url_for('train') }}" method="POST">
            <button name="action" class="waves-effect waves-light btn-large blue-grey darken-1 col s2">Local Train
            </button>
        </form>
        <div class="col s10">
            <h6>Train the local network</h6>
        </div>
    </div>
    <div class="row">
        <form action="{{ url_for('checkpoint_model_pull') }}" method="POST">
            <button name="action" class="waves-effect waves-light btn-large blue-grey darken-1 col s2">Pull Model
            </button>
        </form>
        <div class="col s10">
            <h6>Pull Model from Organization</h6>
        </div>
    </div>
</div>
<div class="row">
    {% if success == True %}
        <div class="col s6 offset-s3">
            <h5>
                <center>Your model was submitted successfully.</center>
            </h5>
        </div>
    {% elif success == False %}
        <div class="col s6 offset-s3">
            <h5>
                <center>Your model submission has failed.</center>
            </h5>
        </div>
    {% endif %}
</div>
<div class="row">
    {% if error %}
        <div class="col s6 offset-s3">
            <h5>
                <center>File upload failed.</center>
            </h5>
        </div>
    {% endif %}
    <div class="row">
        <div class="col s6 offset-s3">
            <p>
            <center>Model Accuracy of client models</center>
            </p>
            {% if accuracy %}
                <h5><center>{{ accuracy }}</center></h5>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>