<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Viewer</title>

    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home_styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

</body>
<nav>
    <div class="nav-wrapper blue darken-3">
        <a href="{{ url_for('homepage') }}" class="brand-logo title-style">模型发布</a>
    </div>
</nav>
<div class="container">
    <div class="row">

    </div>

    <div class="col s4 offset s4">
        <h5 class="card-panel hoverable">
            <center>功能</center>
        </h5>
    </div>
    <br>
    <div class="row">
        <form action="{{ url_for('publish') }}" method="POST" class="col s4 offset-s4">
            <button name="action" class="waves-effect waves-light btn blue darken-3 col s12">发布初始模型
            </button>
        </form>
    </div>
    <div class="row">
        <form action="{{ url_for('download') }}" method="POST" class="col s4 offset-s4">
            <button name="action" class="waves-effect waves-light btn blue darken-3 col s12">下载全局模型</button>
        </form>
    </div>
    <div class="row">
        <form action="{{ url_for('average') }}" method="POST" class="col s4 offset-s4">
            <button name="action" class="waves-effect waves-light btn blue darken-3 col s12">模型联合</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <div class="col s4 offset s4">
        <h5>
            <center>模型列表</center>
        </h5>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection">
            <h5 class="col s6">账户</h5>
            <h5 class="col s6">信息</h5>
                {% for file in fileData %}
                    <li class="collection-item row">
                        <h6 class="col s6"><strong>{{ file.accountNumber }}</strong></h6>
                        <h6 class="col s6"><strong>文件名 </strong> {{ file.fileName }}</h6>
                        <h6 class="col s6"><strong>IPFS哈希 </strong>{{ file.ipfsHash }}</h6>
                        <h6 class="col s6"><strong>模型序号</strong> {{ file.modelNumber }}</h6>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s6">
        </div>
    </div>

</div>
</body>
</html>